:root{
  --size: 600px;
}

#clock{
  width: var(--size);
  height: var(--size);
  background-color: darkslategray;
  border: 3px solid gold;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 black;
  position: relative;
}
 .sigena {
    position: absolute;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: rgba(0,0,0,.6);}
    
    h1 {
      font-size: 30px;
      font-weight: 300;
      margin: auto;
      line-height: 1.3;
    }

#sec-hand {
  width: 1px;
  height: 50%;
  background-color: gold;
  transform-origin: 50% 80%;
  position: absolute;
  top: 10%;
  left: 50%;
}

#min-hand {
  width: 3px;
  height: 40%;
  background-color: gold;
  transform-origin: 50% 80%;
  position: absolute;
  top: 18%;
  left: calc(50% - 1px);
}

#hr-hand {
  width: 5px;
  height: 25%;
  background-color: gold;
  transform-origin: 50% 80%;
  position: absolute;
  top: 30%;
  left: calc(50% + -2px);
}

.num{
  height: 100%;
  position: absolute;
  left: calc(50% - 0.5em);
}

.num div {
  width: 1em;
  line-height: 2em;
  color: red;
  text-align: center;
  vertical-align: middle;
}

.num1 {
  transform: rotate(30deg);
}

.num1 div{
  transform: rotate(-30deg);
}

.num2 {
  transform: rotate(60deg);
}

.num2 div{
  transform: rotate(-60deg);
}

.num3 {
  transform: rotate(90deg);
}

.num3 div{
  transform: rotate(-90deg);
}

.num4 {
  transform: rotate(120deg);
}

.num4 div{
  transform: rotate(-120deg);
}

.num5 {
  transform: rotate(150deg);
}

.num5 div{
  transform: rotate(-150deg);
}

.num6 {
  transform: rotate(180deg);
}

.num6 div{
  transform: rotate(-180deg);
}

.num7 {
  transform: rotate(210deg);
}

.num7 div{
  transform: rotate(-210deg);
}

.num8 {
  transform: rotate(240deg);
}

.num8 div{
  transform: rotate(-240deg);
}

.num9 {
  transform: rotate(270deg);
}

.num9 div{
  transform: rotate(-270deg);
}

.num10 {
  transform: rotate(300deg);
}

.num10 div{
  transform: rotate(-300deg);
}

.num11 {
  transform: rotate(330deg);
}

.num11 div{
  transform: rotate(-330deg);
}

.num12 {
  transform: rotate(0deg);
}

.num12 div{
  transform: rotate(-0deg);
}



.clockusa{
      width:25%;
      height: 25%;
      background-color: silver;
      border:2px solid black;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      border-radius:50%;
      left: 15%;
      top: 20%;
      position: absolute;
      } 
.usa

.hoaky
      {
        width: 120px;
        height: 120px;
     background-color: white;
      border:1px solid black;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      border-radius:50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      }


      
          
.clockita{
      width:25%;
      height:25%;
      background-color: silver;
      border:2px solid black;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      border-radius:50%;
      left: 37%;
      bottom:10%;
      position:absolute;}

.ita

.italia{width: 120px;
      height: 120px;
      background-color: white;
      border:1px solid pink;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      border-radius:50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

    position:absolute;}

          
.clockeng{
      width:25%;
      height:25%;
      background-color: silver;
      border:2px solid black;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      border-radius:50%;
      right:15%;
      top: 20%;
      position:absolute; 
      }
.eng
.anh{width: 120px;
      height: 120px;
      background-color: white;
      
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      border-radius:50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    position:absolute;}
.watch-face {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: lightgoldenrodyellow ; 
  border: 2px solid black;
   top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position:absolute;
}
  
  
  .watch-face-outline {}

  .watch-face-outline-point {
    position: absolute;
    width: 5px;
    height: 5px;
    background: red ;
    left: 49%;
    top: 3%;
    border-radius: 50%;
    -webkit-transform-origin: 50% 50px;
    transform-origin: 50% 50px;
  }

  .point-12 { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  .point-1 { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  .point-2 { -webkit-transform: rotate(60deg); transform: rotate(60deg); }
  .point-3 { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  .point-4 { -webkit-transform: rotate(120deg); transform: rotate(120deg); }
  .point-5 { -webkit-transform: rotate(150deg); transform: rotate(150deg); }
  .point-6 { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  .point-7 { -webkit-transform: rotate(210deg); transform: rotate(210deg); }
  .point-8 { -webkit-transform: rotate(240deg); transform: rotate(240deg); }
  .point-9 { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
  .point-10 { -webkit-transform: rotate(300deg); transform: rotate(300deg); }
  .point-11 { -webkit-transform: rotate(330deg); transform: rotate(330deg); }

  

 
  

  .watch-face-hands {}

  .watch-face-hand {
    position: absolute;
  }

  .watch-face-hand.hour {
     width: 5px;
  height: 25%;
  background-color: gold;
  transform-origin: 50% 80%;
  position: absolute;
  top: 30%;
  left: calc(50% + -2px);

  }

  .watch-face-hand.minute {
    width: 3px;
  height: 40%;
  background-color: gold;
  transform-origin: 50% 80%;
  position: absolute;
  top: 18%;
  left: calc(50% - 1px);
  }
  
  .watch-face-hand.second {
    width: 1px;
  height: 50%;
  background-color: gold;
  transform-origin: 50% 80%;
  position: absolute;
  top: 10%;
  left: 50%;
}